.btn {
    background-color: red;
    border-color: red;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}
 
 .body  {
	 color: #666;
	 background-color: red;
 }
 
 p {
		font-weight: bold;
		background-color:#222211;
	 
	 
 }